.square{
    height: 50px;
    width: 50px;
    border: none;
    margin: 2px;
    background: rgba(89, 0, 255, 0.24);
    font-size: 25px;
}

.square:active,.square:focus{
    outline: none;
}

.square:active{
    opacity: 0.6;
}

.square:hover{
    background: rgba(89, 0, 255, 0.555);
}